body {
  overflow-y: scroll;
  font: 400 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
h2 {
  margin-top: 20px;
}
h3 {
  font-size: 1.25em;
  margin-bottom: 10px;
}
pre {
  font-size: 14px;
}
div.highlight {
  border: none !important;
  margin-bottom: 0;
}
pre.highlight {
  background-color: #eceff1;
  background: #eceff1;
  border: 1px solid lightgray;
  margin-bottom: 15px;
  max-height: 400px;
}
code {
  background-color: transparent;
  font-size: 14px;
  border: 0;
  white-space: pre;
}
main {
  display: block;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
  padding-left: 10px;
}
th {
  border-bottom: 1px solid lightgray;
  color: #616161;
}
ul {
  position: relative;
  top: -7px;
  margin-bottom: 8px;
}
li > ul {
  top: 1px;
}
.header {
  max-width: 100%;
  margin-left: 35px;
  margin-right: 35px;
}
.site-header {
  background-color: #E0E0E0;
  padding-top: 6px;
  border-top: 0;
  border-bottom: 3px solid white;
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 100;
}
.wrapper {
  margin-top: 140px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.page-content {
  padding: 30px;
  padding-top: 4px;
  font-family: Verdana, Geneva, sans-serif;
}
.frame-header {
  width: calc(100% - 15px);
}
.frame-container {
  height: 100%;
  overflow-y: scroll;
}
.frame {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
.site-link {
  color: #212121;
}
.site-link:hover {
  text-decoration: none;
}
.site-link:visited {
  color: #212121;
}
.logo {
  float: left;
  position: relative;
  top: -5px;
  left: -5px;
}
.logo-text {
  margin-left: 10px;
}
.site-nav {
  float: left;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: -3px;
  line-height: 54px;
}
.site-nav a {
  color: #78909c;
  margin-right: 20px;
  font-weight: bold;
}
.site-nav a:visited {
  color: #78909c;
}
.site-nav a:hover {
  text-decoration: underline;
  color: #455a64;
}
.title-section {
  padding-bottom: 5px;
}
.title {
  font-size: 32px;
  color: #00838f;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 5px;
}
.subtext {
  font-size: 25px;
  color: #616161;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.byline {
  font-size: 17px;
}
.active-group {
  color: #455a64 !important;
}
.highlighter-rouge {
  background-color: #d9e0e3;
  border-radius: 5px;
}
.highlighter-rouge .highlight {
  background-color: #eceff1;
  background: #eceff1;
  border: 1px solid lightgray;
}
.home {
  color: #e9e9e9;
  background-color: #455a64;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, sans-serif;
}
.home .highlighter-rouge {
  color: #0d47a1;
  border: none;
}
.home a {
  color: #2aefda;
}
.home a:visited {
  color: #2aefda;
}
.home-col {
  margin-top:22px;
  font-size: 17px;
  float: left;
  width: 280px;
  padding-left: 15px;
}
.home-col h3 {
  margin-bottom: 10px;
}
.site-btn {
  padding: 2px 6px;
  font-size: 18px;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-weight: 600;
  display: inline-block;
  background-color: #616161;
  border-radius: 5px;
  color: #eeeeee;
}
.site-btn:hover {
  color: #eeeeee;
}
.site-btn:visited {
  color: #eeeeee;
}
.github {
  float: right;
  padding-top: 9px;
  padding-right: 9px;
}
.outer {
  width: 100%;
}
.left-nav {
  font-size: 15px;
  float: left;
  width: 105px;
  margin-left: 10px;
  position: fixed;
  padding-top: 28px;
  white-space: nowrap;
}
.left-nav ul {
  list-style: none;
  margin: 0;
}
.left-nav ul li {
  height: 25px;
}
.left-nav a {
  color: #546e7a;
}
.left-nav a:visited {
  color: #546e7a;
}
.left-nav a:hover {
  text-decoration: none;
  color: #263238;
}
.active-nav {
  font-weight: bold;
}
.page-right {
  float: right;
  width: calc(100% - 240px);
  min-width: 500px;
  min-height: 800px;
  margin-right: 40px;
}
.topic {
	margin: 60px 25px 0;
}
.topic-heading {
  margin-bottom: 8px;
}
.site-footer {
}
.site code {
  color: black;
}
.top-btn {
  background-color: #212121;
  /* box-shadow: 4px 4px 2px gray; */
  font-size: 24px;
  padding: 15px;
  border: 2px solid gray;
  border-radius: 4px;
  margin-bottom: 15px;
  display: inline-block;
}
.top-btn:hover {
  border: 2px solid #2aefda;
  text-decoration: none;
}
.top-btn a:hover {
  text-decoration: none;
}
.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
  transition: opacity .3s ease-in;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}
.copy-txt {
  font-family: monospace;
	font-size: 14px;
	padding: 2px 4px;
	border: 1px solid gray;
  border-radius: 3px 0 0 3px;
  min-width: 325px;
}
.copy-btn {
  font-family: monospace;
  background-color: #eff3f6;
  border: 1px solid gray;
  border-left: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  overflow: hidden;
  padding: 1px 0 0 10px;
  -webkit-padding-after: 1px;
}
.copy-adj {
	position: relative;
	top: 1px;
}

/* only visible to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
